<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  
  <meta name="viewport" content="width=device-width">
  
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="<%= @path %>/css/leaflet.css">
  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="<%= @path %>/css/style.css">

  <script src="<%= @path %>/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body class="<% if @id %>single<% end %>">
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <h1><a href="/<%= @path %>">Mapcard</a></h1>

  <%= yield %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script>
  var id = '<%= @id %>';
  </script>

  <script src="http://j.maxmind.com/app/geoip.js"></script>

  <div pub-key="pub-d40e8c76-f324-4405-ad54-16699d1aaf46" sub-key="sub-13a10661-82c8-11e1-987f-a103dc9c1c99" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
  <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>

  <script src="<%= @path %>/js/libs/leaflet.js"></script>
  <script src="<%= @path %>/js/libs/wax.leaf.min.js"></script>

  <script src="<%= @path %>/js/plugins.js"></script>
  <script src="<%= @path %>/js/script.js"></script>

  <script type="text/javascript">
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>